<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.traincode" >

    <application
        android:name=".Untils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/train"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MainMenuActivity"></activity>
        <activity android:name=".View.StationQueryResult"></activity>
        <activity android:name=".View.Code_Query_result"></activity>
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH7a6373e631f0a8fe831e06654de3709f" />
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>
